/* CSS INICIALES */
/* Variables de colores y fuentes */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

:root {
    --negro: #000;
    --blanco: #fff;
    --rojo:#AC0C24;
    --verde:#006634;
    --amarillo:#FF8633;
    --titulo:"Sansita", sans-serif;
    --subtitulo:"Sansation", sans-serif;
    --texto:"Balsamiq Sans", sans-serif;
}
/* ***************************************************** */
.titulo{
    font-family:"Sansita", sans-serif;
}
.subtitulo{
    font-family: "Sansation", sans-serif;
}
.texto{
    font-family: "Balsamiq Sans", sans-serif;
}
.bg-rojo{
background-color: var(--rojo);
}
.rojo{
    color: var(--rojo);
}
.bg-verde{
    background-color: var(--verde);
}
.bg-amarillo{
    background-color: var(--amarillo);
}
.amarillo{
    color: var(--amarillo);
}
.btn-amarillo{
    background-color: var(--amarillo);
    border-color: var(--amarillo);
}
.btn-verde{
    background-color: var(--verde);
}
.btn-rojo{
    background-color: var(--rojo);
}
.btn-blanco{
    background-color: #fff;
}
.verde{
    color: var(--verde);
}

.menu-activado{
    font-size: 25px;
    font-weight: 700;
    color: var(--blanco);
    background-color: var(--verde);
    padding: 2px;
    border-radius: 5px 0px;
    
}
.menu-desactivado{
    font-size: 25px;
    font-weight: 700;
    color: var(--blanco);
}
.button{
    width: 150px;
    margin: auto;

}
.button-orden{
    width: 200px;
    margin: auto;

}
.border-rojo{
    background-color: var(--rojo);
}
.line {
    max-width: 200px;
    width: 100%;
}

.whats{
    margin-top: 350px;
    margin-left: 20px;
}
.whats:hover{
    cursor: pointer;
   
}
.form-tam{
    max-width: 65%;
}

@media(min-width:767px){
    .form-tam{
        width: 40%;
    }
}
.orden-tam{
    max-width: 65%;
}

@media(min-width:767px){
    .orden-tam{
        width: 40%;
    }
}

